*{
    box-sizing: border-box;
}
body {
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color:#000;
    font-size: 25px;
}
.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
ul {
    list-style: none;
    
}
.header-nav li{ 
    margin-right:10px; 
}
#container{
    position: relative;
}
#header {
    z-index: 100; /*최소값은 -1~ 9999*/
    height: 60px;
    min-width: 1050px;
    background-color: rgba( 255, 255, 255, 0.3 );
}
#nav{
    min-width: 1050px;
    height: 100%;
    position: relative;
    margin: 0px 220px;
}
.header-nav-left{
    display: flex;
    float: left;
    width: 150px;
    height: 100%;
    margin:0 auto;
    font-size: 23px;
}
.header-nav-right{
    display: flex;
    float: right;
    width: 474px;
    height: 100%;
    font-size: 23px;
}
.header-nav-right ul{
    margin: 5px auto;
    padding: 15px 0;
    text-align: center;
    
}
.header-nav-right li{
    display: inline-block;
    padding:0 15px;
}
.header-nav-left a{
    margin: 5px auto ;
    padding: 15px 0;
    opacity: 1;
}
.header-nav-right{
    opacity: 1;
}


.header-menu{
    position:absolute;
    top:0;
    right: 0;
}
.header-menu li {
    display: flex;
    float: left;
}


/* header 끝 -----------------------------------------------------------*/

/* main 시작 -----------------------------------------------------------*/
#main{
    min-width: 1050px;
    height: 100%;
    position: relative;
}
#content{
    min-width: 1050px;
    height: 722px;
}
.main-image{
    width: 100%;
    height: 100%;
    background: url(./img/저녁이미지.jpg);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    position: relative;
}
.main-title{
    color: #fff;
    text-align: center;
    line-height: 8;   
}
.title-font{
    font-size: 80px;
}
#about-me{
    min-width: 1050px;
    height: 722px;
    display: flex;
    border-bottom:1px solid black ;
    background-color: #d1e3c3;
}
#skill{
    min-width: 1050px;
    height: 722px;
    border-bottom:1px solid black ;
    background-color: #d1e3c3;
}
.about-me-font,.skill-font{
    font-size: 40px;
}
.about-me-right{
    width: 100%;
}
.about-me-content-font{
    font-size: 40px;
    text-align: center;
    padding: 85px;
}
.about-me-left{
    border-right: 1px solid black;
    width:480px;
    height: 100%;
}
.skill-title{
    text-align: center;
    width: 100%;
    line-height: 4;
}
.about-me-content{
    margin:0 auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 300px 0px 20px; 
    width: 80%;
    height: 200px;
}

.about-me-img{
    border-radius: 250px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}
.about-me-img img{
    border-radius: 250px;
    width: 100%;
    height: 100%;
}
.small-font{
    font-size: 15px;
}

.icon-align{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display:flex;
}
.icon-align-instagram{
    background-image: url(./img/instagram.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    display: flex;
    float: right;
    margin: 0px 5px 5px 10px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
}
.icon-align-facebook{
    background-image: url(./img/facebook.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    display: flex;
    float: right;
    margin: 0px 5px 5px 10px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
}

.about-me-idc{
    width: 376px;
    font-size: 18px;
    padding: 0px 32px;
}
.about-me-idc span{
    display: inline-block;
    margin-bottom: 20px;
}
.skill-content{
    text-align: center;
    min-width: 1050px;
    overflow: auto;
}
.skill-area{
    float: left;
    width: 33.333333333%;
    
}
.skill-content .skill-area img{
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}
.skill-text{
    padding: 55px;
    font-size: 40px;
}
#project{
    min-width: 1050px;
    height: 722px;
}
.project-title{
    min-width: 1050px;
    text-align: center;
    line-height: 5;
}
.project-font{
    display: inline-block;
    width: 100%;
    font-size: 40px;
}
.project-content{
    min-width:  1050px;
}
.project-content-img{
    width: 500px;
    display: inline-block;
    text-align: center;
    padding: 0px 150px;
    margin: 20px 0;
}
.project-content-img img{
    width:100%;
    height:100%;
}
.project-content-img span{
    width: 100px;
    height: 25px;
    display: inline-block;
}
.project-content-area{
    min-width: 1050px;
}